<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<title>修改遊戲紀錄</title>
</head>
<body>
	<div th:insert="header :: header"></div>
	<div class="container mt-5">

		<form action="#" method="post" th:object="${gameRecord}" th:action="@{./{id}(id=${gameRecord.id})}">
			<div class="form-group m-3 position-relative">
				<label for="gameName">遊戲名稱</label> <input type="text"
					class="form-control" id="gameName" th:field="*{gameName}"
					placeholder="輸入遊戲名稱" oninput="handleInput()">
				<ul class="list-group autocomplete-results" id="autocompleteResults"></ul>
				<div id="thumbnailContainer" class="p-3 mb-2 bg-success text-white"></div>
			</div>
			<div class="form-group m-3">
				<label for="gameDate">遊戲日期</label> <input type="date"
					class="form-control" id="gameDate" th:field="*{gameDate}" required>
			</div>
			<div class="form-group m-3">
				<label for="photo">上傳照片</label> <input type="file"
					class="form-control-file" id="photo" th:field="*{photo}">
			</div>

			<div class="form-group m-3">
				<label for="textRecord">文字記錄</label>
				<textarea class="form-control" id="textRecord"
					th:field="*{textRecord}" rows="3" placeholder="輸入文字記錄"></textarea>
			</div>
			
			<div class="form-group m-3">
				<label>玩家</label>
				<div th:each="player, playerStat : *{players}">
					<div class="form-row mb-2">
						<div class="col">
							<input type="text" class="form-control" placeholder="玩家名稱"
								th:field="*{players[__${playerStat.index}__].playerName}"
								required>
						</div>
						<div class="col">
							<input type="number" class="form-control" placeholder="分數"
								th:field="*{players[__${playerStat.index}__].playerScore}"
								required>
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="備註"
								th:field="*{players[__${playerStat.index}__].playerNote}">
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-success" onclick="addPlayer()">新增玩家</button>
			</div> 

			<button type="submit" class="btn btn-primary">提交</button>
		</form>
	</div>

	<script>
	function handleInput() {
		var searchTerm = document.getElementById("gameName").value;
		var autocompleteResults = document
				.getElementById("autocompleteResults");
		var thumbnailContainer = document
				.getElementById("thumbnailContainer");

		// 若輸入字詞不為空，執行即時搜尋提示
		if (searchTerm.length > 0) {
			// 發送即時搜尋提示請求
			var url = "https://boardgamegeek.com/xmlapi2/search?query="
					+ encodeURIComponent(searchTerm) + "&type=boardgame";
			$.ajax({
				url : url,
				type : 'GET',
				success : function(data) {
					showAutocompleteResults(data);
					showThumbnail(data);
				}
			});
		} else {
			// 清空即時搜尋提示和縮圖
			autocompleteResults.innerHTML = "";
			thumbnailContainer.innerHTML = "";
		}
	}

	function showAutocompleteResults(data) {
		var autocompleteResults = document
				.getElementById("autocompleteResults");

		// 顯示搜尋結果
		autocompleteResults.innerHTML = "";
		var results = data.querySelectorAll("item > name[type='primary']");
		results.forEach(function(result) {
			var li = document.createElement("li");
			li.className = "list-group-item";
			li.textContent = result.getAttribute("value");
			li.onclick = function() {
				// 點擊提示時，將提示內容填入輸入框
				document.getElementById("gameName").value = result
						.getAttribute("value");
				// 清空提示列表
				autocompleteResults.innerHTML = "";
			};
			autocompleteResults.appendChild(li);
		});
	}

	function showThumbnail(data) {
		console.log("API Response:", data);
	    var thumbnailContainer = document.getElementById("thumbnailContainer");
	    var thumbnailUrlElement = data.querySelector("item > thumbnail");

	    // 清空縮圖容器
	    thumbnailContainer.innerHTML = "";

	    if (thumbnailUrlElement) {
	        var thumbnailUrl = thumbnailUrlElement.textContent;
	        console.log("Thumbnail URL:", thumbnailUrl); // 添加调试信息
	        // 顯示縮圖
	        thumbnailContainer.innerHTML = '<img src="' + thumbnailUrl + '" alt="Game Thumbnail" class="img-thumbnail">';
	    }
	}

	function addPlayer() {
        var index = document.querySelectorAll('[th\\:id^="gameRecord.players"]').length;
        var playerHtml = '<div class="row g-2 mb-2">'
            + '<div class="col-md-3">'
            + '<input type="text" class="form-control" placeholder="玩家名稱" th:field="*{players[__' + index + '__].playerName}" required>'
            + '</div>'
            + '<div class="col-md-3">'
            + '<input type="number" class="form-control" placeholder="分數" th:field="*{players[__' + index + '__].playerScore}" required>'
            + '</div>'
            + '<div class="col-md-4">'
            + '<input type="text" class="form-control" placeholder="備註" th:field="*{players[__' + index + '__].playerNote}">'
            + '</div>'
            + '<div class="col-md-2">'
            + '<button type="button" class="btn btn-danger" onclick="deletePlayer(this)">刪除玩家</button>'
            + '</div>'
            + '</div>';

        $(".form-group > .btn-success").before(playerHtml);
    }

    function deletePlayer(button) {
        // 找到要刪除的玩家行
        var playerRow = button.closest('.row');
        // 刪除該行
        playerRow.remove();
    }
	</script>

</body>
</html>
