<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
<title>建立遊戲</title>

<style th:inline="text">
body {
	background-image: url([[@{/image/bg.png}]]);
	background-size: cover;
}
</style>

</head>
<body>
	<div th:insert="header :: header"></div>
	<div class="container mt-5">
	
 <!-- 刪除確認的 Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">確認刪除</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    確定要刪除記錄嗎？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="confirmBtn">確定</button>
                </div>
            </div>
        </div>
    </div>
    
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th></th>
					<th>遊戲名稱</th>
					<th>遊戲日期</th>
					<th>照片</th>
					<th>文字記錄</th>
					<th>玩家名稱</th>
					<th>分數</th>
					<th>備註</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="gameRecord : ${gameRecords}">
					<td>
						<!--           <button class="btn btn-success btn-sm">修改</button>  -->
						<a class="btn btn-success btn-sm"
						th:href="@{/gameRecords/editRecord/{id}(id=${gameRecord.id})}">修改</a>
						<a class="btn btn-danger btn-sm" data-bs-toggle="modal"
						data-bs-target="#confirmationModal"
						th:onclick="'javascript:setRecordId(\'' + ${gameRecord.id} + '\')'">
							刪除 </a>
					</td>
					<td th:text="${gameRecord.gameName}"></td>
					<td th:text="${gameRecord.gameDate}"></td>
					<td th:text="${gameRecord.photoFile}"></td>
					<td th:text="${gameRecord.textRecord}"></td>

					<!-- 新增遍歷每個玩家的列 -->
					<td>
						<div th:each="player : ${gameRecord.players}">
							<!-- 玩家名稱 -->
							<div th:text="${player.playerName}"></div>
						</div>
					</td>
					<td>
						<div th:each="player : ${gameRecord.players}">
							<!-- 分數 -->
							<div th:text="${player.playerScore}"></div>
						</div>
					</td>
					<td>
						<div th:each="player : ${gameRecord.players}">
							<!-- 備註 -->
							<div th:text="${player.playerNote}"></div>
						</div>
					</td>
					<!-- 遍歷每個玩家的列結束 -->
				</tr>
			</tbody>
		</table>
	</div>
	<tbody>
		<tr th:each="gameRecord : ${searchResults}">
			<!-- 顯示搜索結果的內容 -->
		</tr>
	</tbody>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
    var recordIdToDelete;

    function setRecordId(id) {
        recordIdToDelete = id;
    }

    function confirmDelete() {
        var modal = new bootstrap.Modal(document.getElementById('confirmationModal'));

        var confirmBtn = document.getElementById('confirmBtn');
        confirmBtn.onclick = function() {
            // 使用Thymeleaf表達式構建URL
            var deleteUrl = /*[[@{/gameRecords/deleteRecord/{id}(id=${recordIdToDelete})}]]*/;
            
            // 跳轉到刪除記錄的URL
            window.location.href = deleteUrl;
        };

        modal.show();
    }
</script>

</body>
</html>